<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.jabylon.rest.ui.config">
      <section
            name="SVN"
            objectClass="org.jabylon.properties.Project"
            section="org.jabylon.team.svn.config.SVNConfigPanel$SVNConfigSection"
            tab="svn">
      </section>
   </extension>
   <extension
         point="org.jabylon.rest.ui.configTab">
      <tab
            name="SVN"
            tabID="svn">
      </tab>
   </extension>
</plugin>
