<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="de.jutzig.jabylon.common.teamProvider">
      <teamProvider
            class="de.jutzig.jabylon.team.cvs.impl.CVSTeamProvider"
            description="CVS Team Provider"
            name="CVS">
      </teamProvider>
   </extension>
   <extension
         point="de.jutzig.jabylon.rest.ui.config">
      <section
            name="CVS"
            objectClass="de.jutzig.jabylon.properties.Project"
            section="de.jutzig.jabylon.team.cvs.config.CVSConfigSection"
            tab="cvs">
         <permission
               requires="#Project.global.config">
         </permission>
      </section>
   </extension>
   <extension
         point="de.jutzig.jabylon.rest.ui.configTab">
      <tab
            name="CVS"
            tabID="cvs">
      </tab>
   </extension>
</plugin>
