<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.jabylon.rest.ui.config">
      <section
            name="CVS"
            objectClass="org.jabylon.properties.Project"
            section="org.jabylon.team.cvs.config.CVSConfigSection"
            tab="cvs">
      </section>
   </extension>
   <extension
         point="org.jabylon.rest.ui.configTab">
      <tab
            name="CVS"
            tabID="cvs">
      </tab>
   </extension>
</plugin>
